@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  background: #0b1d27;
  counter-reset: list;
}

/* Header */
header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
  background: linear-gradient(to right, #374f5a, #6d7577);
}

nav {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a.logo_text {
  font-size: 25px;
}

header li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  height: 100%;
  padding: 20px 10px;
}

header li:hover {
  background: blueviolet;
}

header nav a {
  font-weight: 600;
}

header nav a:hover {
  color: greenyellow;
}

/* Main */

main {
  min-height: 100vh;
}

.one {
  position: relative;
}

.one_bg {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.one_overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.label_1 {
  color: rgb(255, 255, 255);
  position: relative;
  margin: 0 0 20px 70px;
}

.label_1::before {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 4px;
  background-color: yellow;
}

.hint_1 {
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px #3d3939;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

section {
  padding: 30px 0;
}

.card_wrapper {
  width: 70%;
  margin: auto;
}

.card {
  width: 100%;
  height: 400px;
  display: flex;
  margin: 100px 0;
}

.card_image {
  width: 35%;
  height: auto;
  object-fit: contain;
}

.card_body {
  position: relative;
  width: 60%;
  margin-left: 150px;
  color: #fff;
}

.card_body * {
  margin-bottom: 10px;
}

.card_body::before {
  counter-increment: list;
  content: "0" counter(list);
  position: absolute;
  color: #fff;
  font-size: 150px;
  font-weight: 800;
  opacity: 0.5;
  left: -75px;
  top: -100px;
}

.card_hint {
  color: greenyellow;
  font-size: 25px;
}

.card_title {
  font-size: 35px;
  width: 70%;
}

.card_content {
  width: 80%;
}

.card:nth-of-type(even) {
  flex-direction: row-reverse;
}

.card:nth-of-type(even) .card_body {
  flex-direction: row-reverse;
  margin: 0 150px 0 0;
}

/* Footer */

footer {
  /* background: linear-gradient(to right, #374f5a, #6d7577); */
  padding: 20px 0;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 30px;
}

.copyright_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.logo {
  font-size: 30px;
  margin-bottom: 10px;
}

.copyright {
  font-weight: 700;
  opacity: 0.8;
  font-size: 15px;
}

.ft_nav {
  display: flex;
  justify-content: space-around;
}

.ft_nav__list {
  display: grid;
}

.ft_nav__link:hover {
  color: yellow;
}

.nav_title_label {
  color: yellow;
  margin-bottom: 10px;
}

.ft_nav__parent li {
  display: block;
  margin-bottom: 10px;
}

/* Responsiveness */

@media screen and (max-width: 780px) {
  header {
    display: flex;
    align-items: center;
  }

  header li {
    margin-left: 8px;
  }

  header nav a {
    font-size: 10px;
  }

  a.logo_text {
    font-size: 25px;
  }

  .hint_1 {
    font-size: 40px;
  }

  /* header nav {
    flex: 1;
  } */

  section {
    padding: 0;
  }

  .one {
    height: 100vh;
  }

  .one_bg {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .card_wrapper {
    width: 100%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    flex-direction: row-reverse;
  }

  .card_title {
    width: 100%;
  }

  .card_image {
    width: 100%;
  }

  .card_body {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .card_content {
    width: 100%;
  }

  .card_body::before {
    left: 10px;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 70px 10px 10px 10px;
  }

  .logo {
    text-align: center;
  }

  .motto {
    text-align: center;
    margin: 0px 0;
  }

  .ft_nav {
    justify-content: space-between;
  }

  .copyright_box {
    text-align: center;
  }
}
